<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue select option</title>
	<link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="option">
    	<h2>Select one product to buy</h2>
        <select v-model="picked">
            <option v-for="edition in editions" v-bind:value="edition.price">
                {{ edition.text }}
            </option>
        </select>
        
        <p>price: ${{ picked }}</p>
        <div v-if=" picked == 10 ">
            <a href="link-1.html">Buy now 1</a>
        </div>
        <div v-else-if=" picked == 20 ">
            <a href="link-2.html">Buy now 2</a>
        </div>
        <div v-else>
            <a href="link-3.html">Buy now 3</a>
        </div>
    </div>
    <script src="price.js"></script>
</body>


</html>